.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
}
.menu-section{
  width: 15%;
}
.body-section{
  width: 85%;
  background-color: #E5E7EB;
}
.graphs{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.product{
  /* display: flex; */
  display: grid;
  grid-template-columns: 67% 33%;
}

.status{
  display: grid;
  grid-template-columns:  32% 68%;
}

.year-cont{
  display: flex;
  justify-content: flex-end;
  align-items: self-end;
}
.year-dropdown{
  margin-right: 20px;
  margin-top: 20px;
  border: 1px solid;
  padding: 5px;
  width: 56px;
}

.heading{
  padding-bottom: 20px;
  color: #5f6070;
}
.tablehead{
  background-color: #007aff;
  color: white;
}